* {
    font-family: copperplate;
    color: white;
}

body{
    background-image: url(https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5em;
    padding-right: 5em;
}

header{
    padding-left: 3em;
    padding-right: 3em;
}

h1{
    /* position */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* presentation */
    background-image: linear-gradient(
    rgb(116, 201, 241),
    rgb(251, 64, 64));
    border-radius: .2em;
    /* Text */
    color: rgb(109, 0, 251);
    text-decoration-line: underline;
}

img {
    width: 70%;
    height: 70%;
    border-radius: .5em;
}

#jordans-1{
    border-right: .2em solid blue;
    border-top: .1em solid blue;
    border-bottom: .1em solid blue;
    
}

#row1-section2{
    padding-left: .5em;
    padding-right: .5em;
background-color:rgb(116, 201, 241);
border: .1em solid rgb(241, 117, 0);
border-radius: 1em;
}


#jordans-2{
    border-left: .2em solid red;
    border-top: .1em solid red;
    border-bottom: .1em solid red;
}

/* row2-section2 */